.App {
  text-align: center;
  display: flex;
  background-color: #9e74f2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-color: #9e74f2;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.inputField {
  width: 250px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
}
.inputFieldSM {
  width: 230px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
}
.buttonField {
  border-radius: 10px;
  border: 1px solid #f5b342;
  background-color: #f5b342;
  color: white;
  width: 120px;
  height: 40px;
}
.inputField:focus {
  border: 1px solid white;
}
.inputFieldSM::placeholder {
  color: white;
}
.inputField::placeholder {
  color: white;
}
.content-bar {
  width: 50%;
}
.robot-bar {
  margin-top: 10%;
  margin-left: 10%;
}
.text-bar {
  margin-top: 25%;
  color: white;
  margin-left: 30%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
